<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>

        <add title="Newsletter"
             parent="Codegenixuk_Base::index"
             resource="Codegenixuk_Base::newsletter_config"
             sortOrder="10"
             module="Codegenixuk_Newsletter"
             id="Codegenixuk_Newsletter::title"
        />

        <add
            title="Configuration"
            parent="Codegenixuk_Newsletter::title"
            resource="Codegenixuk_Base::newsletter_config_link"
            sortOrder="20"
            module="Codegenixuk_Newsletter"
            id="Codegenixuk_Newsletter::newsletter_link"
            action="adminhtml/system_config/edit/section/codegenixuk_newsletter"
        />

    </menu>
</config>
